*{
    margin: 0px; /* so that no extra space btw two contents */
    font-family: Arial;
    box-sizing:border-box;/* so that our box dont grow unexpectedly when padding & border added */
}
/* Designing Navigation Bar */
.navbar{
    height:68px;
    background-color: #0f1111;
    background-size: contain;
    color: white;
    display: flex;  /* So that all box inside Nav Bar comes side by side in a row */ 
    justify-content: space-evenly;
    align-items: center; /* centre along y axis */
}
/* box 1 : Navigation Logo */
.nav-logo{
    height: 65px;
    width: 165px;
}
.n-logo{
    height:60px;
    background-image: url("logo.jpeg");
    background-size: cover;
}
/* This Border and Hover Border will help us to create the invisible White Border for all Boxes */
.border{
    border: 0.5px solid transparent;
}
.border:hover{
    border: 0.5px solid white;
    cursor: pointer; /* HAND ICON i.e, It tells the user: "This is clickable." */
}
/* box 2 : Address Icon */
.address-icon{
    display: flex;
    align-items: center;
    margin-left: 15px;


}
.add-first{
    color: #cccccc;
    font-size: 1rem;   /* rem means font size is adjusted to the root's size */
    margin-left: 15px;
}
.add-second{
    color: #ffffff;
    font-size: 0.85rem;
    margin-left: 3px;
}
/* box 3 : Search Bar */
.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    margin:15px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid #febd69;
}
.search-search{
    background-color: #f3f3f3;
    /* Dont Fixed the Width  here,then our bigger options text will get cut off the screen */
    padding: 0 10px; /* Adds 10px space on the left and right */
    height: 100%;    /* Fills the search bar height */
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none; /* put border none here and on the search input as border none ,so that their border merges together and looks as a single search bar */
    outline: none; /* Removes the border when you click it */
    cursor: pointer;
}
.search-input{
    /* flex-grow: 1-This tells the input field to "Take up all the space that is left over after the dropdown and the icon" */
    flex-grow: 1; /* Best way to occupy remaining space */
    font-size: 1rem;
    border: none;
    outline: none; /* Removes the blue highlight when clicking */
}
.search-icon{
    background-color: #febd69;;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;    /* Matches your search bar curve */
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
/* box 4 : Language & Flag */
.nav-language{
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 10px;
    padding: 10px;
   
}

.india-flag {
    width: 20px; /* Small flag size */
    margin-right: 5px;  /* to put space btw the Flag and our Text ("IN")*/
    display: block;
}

.lang-text {
    font-size: 0.85rem;
    font-weight: 700;
    color: white;
    margin-top: 3px; /* Fine-tuning the vertical alignment */
}
/* box 5 : Accounts & Sign-in */
.nav-signing{
    height: 50px;
    cursor: pointer;
    display: flex;          /* Use Flexbox to stack text vertically */
    flex-direction: column; 
    justify-content: center;

}
.nav-signing-1st{
font-size: 0.7rem;
}
.text-box{
font-size: 0.85rem;
font-weight: 700; /* To look like bold */
cursor: pointer;
}
/* box 6: Returns & Orders */
.returns {
    height: 50px;
    display: flex;          
    flex-direction: column; 
    justify-content: center; 

}
/* Box 7: Shopping & cart */
.nav-cart{
    margin-left: 15px;
     /* display: flex;          
    flex-direction: column; 
    justify-content: center;  */
}
.nav-cart i{
    font-size: 30px;
    height: 30px;

}
/* Designing Panel below the Navigation Bar */
.pannel{
    font-family:Arial, sans-serif;
    background-color: #222f3d;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-evenly; /* align items horizontally */
    align-items: center; /*  align items vertically  */
}
/* Make all elements that we defined in paragraph ,come in a row */
.pannel-ops p{ 
    display: inline;
    margin-left: 20px;
}
.pannel-ops{
    width: 95%;
    font-size: 0.85rem;
    height: 20px;
}
.pannel-all{
    height: 20px;
}

/* Designing Hero section of our Web Page */
.hero-section {
    position: relative;
    overflow: hidden; /* hides the images that aren't currently visible */
}
/* CSS Animation for Scrolling */
@keyframes slide-animation {
    0% { transform: translateX(0); }
    30% { transform: translateX(0); }
    40% { transform: translateX(-100vw); }
    60% { transform: translateX(-100vw); }
    70% { transform: translateX(-200vw); }
    100% { transform: translateX(-200vw); }
}

.hero-slider {
    display: flex; /* images comes side by side in row form i.e one after another like train*/
    width: 300%; 
    animation: slide-animation 15s infinite; /* scroll automatically after 15s */
}
/* For each individual image */
.hero-img {
    width: 100vw; 
    height: 600px; 
    object-fit: cover;
    /* Fade Effect at bottom */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}
/* Since on HTML file, we used Hero images ,so naturally our Hero mess div will go at bottom of the page after hero images, */
/* if we used background img ,then we need to set this mess div using position */
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    /* put it at the bottom of the image area */
    position: absolute;
    bottom: 220px; 
    left: 20px;
    right: 20px;
    z-index: 10; /* Keeps it above everything */
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* Shop Section */
.shop-section {
    display: flex;
    flex-wrap: wrap;   /* Since we only want maximum 4 boxes in 1 row, box 5 will st from another row */
    justify-content: space-evenly;
    /* LOGIC : The Image(of hero section) is fading out (becoming transparent).
               The Shop Section is fading in (becoming solid gray).
       Result: They "cross-fade" into each other perfectly. */
    background: linear-gradient(to bottom, transparent, #e2e7e6 20%);
    /* here to bottom means color fading : Starts at Top then moves to bottom */
    /* transparent is our start point then moving to grey colour(end point) */
    margin-top: -240px; 
    /* NEGATIVE MARGIN LOGIC:
        Think of the Hero Image as a tall wall. 
        Normally, the Shop Section starts at the foot of that wall.
        The negative margin acts like a 'hook' that pulls this entire section 
        UPWARDS so it sits on top of the image instead of below it.
    */ 
    position: relative;
    /* z index is for controlling overlapping elements */
    z-index: 1; /* Keeps the boxes on top of the image fade */
    padding: 20px 0;
}

.box {
    height: 400px;
    width: 23%; /* Four boxes (approx 25% each) */
    background-color: white;
    padding: 20px 15px;
    margin-top: 20px;
}

.box-img {
    height: 300px;
    background-size: cover; /* image should fills the square without stretching */
    background-position: center;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.box h1 {
    font-size: 1.25rem; 
    margin-bottom: 10px;
}

.box p {
    color: #007185;       
    font-size: 0.85rem;
    cursor: pointer;
}

.box p:hover {
    color: #C7511F;   
    text-decoration: underline;
}

/* Login Recommendation */
.login-recommend{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-recommend button{
    margin-top: 10px;
    background-color: rgb(255, 215, 0);
    border: 2px transparent;
    height: 30px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
}
.login-recommend p{
    font-size: small;
}
.login-recommend a{
    cursor: pointer;
    text-decoration: none;
    color: #007185;
    font-size: small;
}
hr{
    margin-bottom: 20px;
}

/* Footer Part */
/* Part 1  */
.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
}
/* Part 2 */
.foot-panel2{
    padding: 50px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    height: 450px;
    
}
.foot-panel2 ul a{
    margin-top: 20px;
    display: block;
    cursor: pointer;
    font-size: 0.85rem;
    color: #dddddd;
    font-weight: 300;
    
}
.foot-panel2 ul a:hover{
    text-decoration: underline;
}
/* Part 3 */
.foot-panel3{
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.5px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    margin-top: 20px;
    background-image: url("logo.jpeg");
    background-size: cover;
    height: 65px;
    width: 180px;
    margin-bottom: 20px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
    margin: 0.1px;
}
.pages a:hover{
    text-decoration: underline;
    cursor:pointer;
}
.copyright{
    padding-top:5px;
    font-size: 0.7rem;
    text-align: center;
}